@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --card-background-primary-gradient: linear-gradient(106deg, #ec6753 -6.38%, #eb8740 49.19%, #ffaf51 100.21%);
  --primary-color-rgb: 250, 133, 47;
  --primary-color-dark-rgb: 246, 108, 6;
  --primary-color-light-rgb: 251, 170, 109;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --card-background-primary-gradient: linear-gradient(106deg,#ec6753 -6.38%,#eb8740 49.19%,#ffaf51 100.21%);
    --primary-color-rgb: 250, 133, 47;
    --primary-color-dark-rgb: 246, 108, 6;
    --primary-color-light-rgb: 251, 170, 109;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

body {
  font-family: var(--font-lato), sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-poppins), sans-serif !important;
}

@layer utilities {

  /* width and height */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body {
  @apply text-gray-700;
}

.doctor-main {
  margin-top: -335px;
}


.orange-button {
  background-color: #FA852F;
  height: 50px;
  padding: 8px 30px;
  border: unset;
  border-radius: 10px;
  font-weight: 700;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border: 1px solid #FA852F;
}

.orange-button:hover {
  background-color: #fff;
  color: #FA852F;

}

.orange-button:hover svg path {
  fill: #FA852F !important;
  color: #FA852F;
}

.welcome-section {
  height: 200px;
  width: 100%;
  padding: 30px;
  position: relative;
  background-image: url(../../public/hero-bg.png);
  border-radius: 10px;
  background-position: center;
  border: 1px solid #eb874020;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.welcome-section h1 {
  font-size: 44px;
  color: #eb8740;
}

.welcome-section p {
  font-size: 18px;
}

.welcome-button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.faq-box {
  width: 270px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 226px;

}

.faq-main-box {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.faq-main-box h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.faq-main-box::-webkit-scrollbar {
  display: none !important;
}

.faq-box p {
  font-size: 14px;
  color: #00000050;
  padding: 0;
}

.faq-box p span {
  font-size: 18px;
  color: #000000;
}

.faq-main-container {
  padding: 30px;
  width: 100%;
  padding: 30px;
  position: relative;
  background-image: url(../../public/hero-bg.png);
  border-radius: 10px;
  background-position: center;
  border: 1px solid #eb874020;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.05);
}

.faq-main-container h1 {
  font-size: 30px;
  font-weight: 600;
}

.topics-img img {
  height: 250px;
  width: 100%;

  object-fit: cover;
  border-radius: 10px;
}